<form [formGroup]="frmStepOne" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field class="">
            <input matInput placeholder="Search" value="" formControlName="searchbar">
        </mat-form-field>
    </div>
    <div>
        <mat-selection-list formControlName="selectedshoes">
            <mat-list-option #allSelected checkboxPosition="before" [value]="0" (click)="toggleAllSelection()">selectAll</mat-list-option>
            <mat-list-option checkboxPosition="before" [value]="item.id" *ngFor="let item of filteredShoes;" (click)="togglePerOne()">{{item.name}}</mat-list-option>
        </mat-selection-list>
    </div>
    <div>
        <button mat-button matStepperNext>Next</button>
    </div>
</form>